body{
    display: flex;
    flex-direction: column;
    height: 100vh;

    main {
        display: flex;
        flex-direction: row;
        align-items:  flex-start;
        justify-content: center;
        height: calc(100vh - 4rem);

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 6rem;
            height: 100vh;
        }

        .map {
            aspect-ratio: 1/1;
            height: auto;
            margin: auto;

            @media screen and (max-width: 768px) {
                height: 50vh;
                max-height: 50vh;
                width: auto;

                margin: 10rem auto;
                margin-top: 0;
            }

            svg {

                path {

                    height: 100%;

                    fill: #4285F4;
                    stroke: #2963c0;
                    stroke-width: 2px;

                    &:hover {
                        fill: #2963c0;
                        cursor: pointer;
                    }

                    &:active {
                        fill: #1f4b92;
                        stroke: #1f4b92;
                    }

                    &.selected {
                        fill: #2963c0;
                        stroke: #4285F4;
                    }
                }
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 70%;
            max-width: 30vw;
            margin: auto;

            input, button {
                width: 70%;
                margin: 0.5rem 15%;

                padding: 8px;
                border-radius: 8px;
                border: 1px solid #ccc;
            }

            button {
                background-color: #4285F4;
                text-align: left;
                cursor: pointer;

                &:hover {
                    background-color: #2963c0;
                }
            }

            .link {
                // +8 so it alligns with the text. (8 px is the padding we add) 
                margin-left: calc(15% + 8px);
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                max-width: 100%;
                margin: 0;
                padding: 0;

                input, button {
                    width: 80%;
                    margin: 0.5rem 10%;
                    padding: 8px;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                }

                .link {
                    margin-left: calc(10% + 8px);
                }
                
            }
        }
    }
}